.maildiv {
    border: 3px solid red;
    border-radius: 25px;
    margin-bottom: 10px;
    padding: 10px 15px;
    max-width: 350px;
    color: white;
}

.title {
    color: white;
    font-size: 26px;
    margin-bottom: 17px;
}

.text {
    margin-bottom: 10px;
}
