.nav{
    display: flex;
    align-items: center;
    gap: 30px;
}

.navLink{
display: flex;
align-items: center;
justify-content: center;
text-align: center;
width: 130px;
height: 50px;
border: 2px solid black;
background-color: transparent;
color: black;
text-decoration: none;
border-radius: 7px;
font-size: 24px;
transition: all 0.1s;
}

.active{
color: white;
background-color: black;
}

  